<header class="hero is-primary">
  <div class="hero-body is-paddingless">
    <div class="container">
      <div class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <figure class="image is-96x96">
            <img src="{{ '/assets/img/austinjavascript-icon.png' | url }}" alt="logo">
          </figure>
          <a href="{{ '/' | url }}" class="navbar-item title has-text-white is-size-1-tablet">
            {{ site.title }}
          </a>
        </div>
        <div class="navbar-menu is-size-4">
          <div class="navbar-end">
            <a class="navbar-item" href="{{ '/' | url }}">
              Home
            </a>
            <a class="navbar-item" href="{{ '/posts/' | url }}">
              Archive
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{% if page.url == '/' %}
<section class="hero">
  <figure class="image">
    <img src="{{ '/assets/img/carlos-alfonso-AlBgcDfDG_s-unsplash_3by1-prog1.jpg' | url }}" alt="Austin skyline" title="Photo by Carlos Alfonso on Unsplash">
  </figure>
</section>
{% endif %}
