<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ site.pathPrefix }}assets/css/bulma.min.css">
  <link rel="stylesheet" href="{{ site.pathPrefix }}assets/css/tooltip.css">
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</head>
<body>
  {% include 'layout-header.njk' %}

  <main class="section">
    <div class="container">
      <div class="">
        {{ content | safe }}
      </div>
    </div>
  </main>

  <footer class="footer has-background-white has-border-top-medium has-offset-top">
    <div class="container">
      <div class="navbar">
        <div class="navbar-menu">
          <div class="navbar-start">
            <a href="{{ site.pagePath.home | url }}" class="navbar-item">
              © {{ page.date.getFullYear() }} Austin JavaScript
            </a>
            <a href="{{ site.pagePath.about | url }}" class="navbar-item">
              About
            </a>
            <a href="{{ site.pagePath.conduct | url }}" class="navbar-item">
              Code of Conduct
            </a>
            <a href="{{ site.pagePath.contributing | url }}" class="navbar-item">
              Contributing
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
