<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if title != site.title %}{{ title }} • {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="icon" href="{{ '/assets/icon/favicon.png' | url }}" type="image/png">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</head>
<body>
  {% include 'layout-header.njk' %}

  <main class="section">
    <div class="container">
      {{ content | safe }}
    </div>
  </main>

  <footer class="footer has-background-white has-border-top-medium has-offset-top">
    <div class="container">
      <div class="navbar">
        <div class="navbar-menu is-active">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ '/' | url }}">
              &copy; {{ page.date.getFullYear() }} Austin JavaScript
            </a>
            <a class="navbar-item" href="{{ '/about/' | url }}">
              About
            </a>
            <a class="navbar-item" href="{{ '/code-of-conduct/' | url }}">
              Code of Conduct
            </a>
            <a class="navbar-item" href="{{ '/contributing/' | url }}">
              Contributing
            </a>
            <a class="navbar-item is-hidden-desktop" href="{{ '/posts/' | url }}">
              Archive
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
