<header class="hero is-primary">
  <div class="hero-body is-paddingless">
    <div class="container">
      <div class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <figure class="image is-96x96">
            <img src="{{ '/assets/img/austinjavascript-icon.png' | url }}" alt="logo">
          </figure>
          <a href="{{ '/' | url }}" class="navbar-item title has-text-white is-size-1-tablet">
            {{ site.title }}
          </a>
        </div>
        <div class="navbar-menu is-size-4">
          <div class="navbar-end">
            <a href="{{ '/' | url }}" class="navbar-item">
              Home
            </a>
            <a href="{{ '/posts/' | url }}" class="navbar-item">
              Archive
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
