<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title != site.title %}{{ title }} • {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/bulma.min.css' | url}}">
  <link rel="stylesheet" href="{{ '/assets/css/tooltip.css' | url }}">
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</head>
<body>
  {% include 'layout-header.njk' %}

  <main class="section">
    <div class="container">
      <div class="">
        {{ content | safe }}
      </div>
    </div>
  </main>

  <footer class="footer has-background-white has-border-top-medium has-offset-top">
    <div class="container">
      <div class="navbar">
        <div class="navbar-menu is-active">
          <div class="navbar-start">
            <a href="{{ '/' | url }}" class="navbar-item">
              © {{ page.date.getFullYear() }} Austin JavaScript
            </a>
            <a href="{{ '/about/' | url }}" class="navbar-item">
              About
            </a>
            <a href="{{ '/code-of-conduct/' | url }}" class="navbar-item">
              Code of Conduct
            </a>
            <a href="{{ '/contributing/' | url }}" class="navbar-item">
              Contributing
            </a>
            <a href="{{ '/posts/' | url }}" class="navbar-item is-hidden-desktop">
              Archive
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
