---
layout: layout
---
<div class="columns is-desktop is-variable is-8-desktop">
  <div class="column is-two-thirds flex-container">
    <h1 class="title flex-item">{{ title }}</h1>
    <div class="content flex-item">
      {{ content | safe }}
    </div>

    {% meetupDetails page.date, venue, after %}
  </div>

  <div class="column has-offset-top">
    <h2 class="title is-sr-only">Speaker</h2>
    {% for person in speakers %}
    <div class="has-offset-top">
      {% include 'business-card.njk' %}
    </div>
    {% endfor%}
  </div>
</div>

{% if sponsor.name and sponsor.url %}
<div class="section">
  <div class="tile">
    <div class="tile is-child content">
      <h3>Sponsor</h3>
      <p>
        Drinks and pizza for this event will be provided by the wonderful folks at <a href="{{ sponsor.url }}">{{ sponsor.name }}</a>.
      </p>
      {% if sponsor.careerUrl %}
      <p>
        {{ sponsor.name }} is hiring. Check out their <a href="{{ sponsor.careerUrl }}">Career page</a> for more information.
      </p>
      {% endif %}
    </div>
  </div>
</div>

{% elif sponsor %}
<div class="section">
  <div class="tile">
    <div class="tile is-child content">
      <h3>Sponsor</h3>
      {% set sponsorOrg = organizations[sponsor] %}
      <p>
        Drinks and pizza for this event will be provided by the wonderful folks at <a href="{{ sponsorOrg.url }}">{{ sponsorOrg.name }}</a>.
      </p>
      {% if sponsor.hiring and sponsorOrg.careerUrl %}
      <p>
        {{ sponsorOrg.name }} is hiring. Check out their <a href="{{ sponsorOrg.careerUrl }}">Career page</a> for more information.
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<div class="columns is-variable is-8 has-offset-top">
  {# Because meetups are listed in reverse order, swap next and previous. #}
  {% set previousPost = collections.meetups | getNextCollectionItem(page) %}
  {% set nextPost = collections.meetups | getPreviousCollectionItem(page) %}
  <div class="column">
    {% if previousPost %}
    <a href="{{ previousPost.url | url }}">← {{ previousPost.data.title }}</a>
    {% endif %}
  </div>
  <div class="column has-text-right">
    {% if nextPost %}
    <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }} →</a>
    {% endif %}
  </div>
</div>
