/*
 * MEETUP FLEX LAYOUT
 */

@media screen and (max-width:768px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-item {
    flex: 0 0 100%;
  }
  .flex-item-0 {
    margin-bottom: 2em;
    order: -1;
  }
}

/*
 * TOOLTIP
 */

a[title] {
  position: relative;
}

/* Hide the tooltip content by default */
a[title]:before,
a[title]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s opacity;
}

/* Position tooltip above the element */
a[title]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.95);
  color: #fff;
  content: attr(title);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
a[title]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.95);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
a[title]:hover:before,
a[title]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
